<div class="container shadow-lg p-3 mb-5 bg-dark rounded">

<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline">
    <%= form.text_field :title, class:"form-control bg-dark text-muted",placeholder:"¿Que titulo debe llevar tu publicacion?" %>
    <label class="form-label">Titulo de la publicacion</label>
  </div>

  <div class="form-outline">
    <%= form.text_area :description, class:"form-control bg-dark text-muted",placeholder:"Debes describir para que se utiliza tu comado o codigo compartido" %>
    <label class="form-label">Descripcion del comando</label>
  </div>

  <div class="form-outline">
    <%= form.text_field :tools, class:"form-control bg-dark text-muted",placeholder:"Indicar para que lenguaje o herramienta sirve el codigo como por ej:ruby on rails"  %>
    <label class="form-label">Nombre de la herramienta o leguaje de programacion </label>
  </div>

  <div class="form-outline">
    <%= form.text_area :code, class:"form-control bg-dark text-muted",placeholder:"Debes indicar el comando o codigo para el recurso compartido" %>
    <label class="form-label">Codigo o comando </label>
  </div>

  <div class = 'actions'>
            <%= form.submit "Publicar", class:"btn btn-info text-dark btn btn-info text-dark rounded-pill p-2"  %>
        </div>
  <% end %>

 

</div>






