<div class="container shadow-lg p-3 mb-5 rounded">

<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr class="text-muted" style="background-color: #2C3E50;"/>

  <div class="form-outline">
    <%= form.text_field :title, class:"form-control text-white",placeholder:"¿Que titulo debe llevar tu publicacion?",style:"background: #1B2631;"%>
    <label class="form-label"></label>
  </div>

  <div class="form-outline">
    <%= form.text_area :description, class:"form-control  text-white",placeholder:"Debes describir para que se utiliza tu comado o codigo compartido",style:"background: #1B2631;"%>
    <label class="form-label"></label>
  </div>

  <div class="form-outline">
    <%= form.text_field :tools, class:"form-control  text-white",placeholder:"Indicar para que lenguaje o herramienta sirve el codigo como por ej:ruby on rails", style:"background: #1B2631;" %>
    <label class="form-label"> </label>
  </div>

  <div class="form-outline">
    <%= form.text_area :code, class:"form-control text-white",placeholder:"Debes indicar el comando o codigo para el recurso compartido", style:"background: #1B2631;" %>
    <label class="form-label"></label>
  </div>

  <hr class="text-muted " style="background-color: #2C3E50;"/>

  <div class = 'actions'>
            <%= form.submit "Publicar", class:"btn  text-white rounded-pill " ,style:"background-color:#2EA043;"   %>
        </div>
  <% end %>

 

</div>






