<p id="notice"><%= notice %></p>


    <!-- Page Header-->


          <div class="container mb-5">
            <%= link_to 'New Publication', new_publication_path ,class:"btn btn-info text-dark rounded-pill " %>
           </div>
  
    
   
     

          <hr class="my-4" />
 <% @publications.each do |publication| %>
       
                    <!-- Post preview-->
                  <div class="card shadow-lg border-light bg-dark rounded ">
                    <div class="card-header barra border-light text-white">
                      <tr class="ml-auto">
                        <td><%= link_to 'Show', publication %></td>
                        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
                        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>

                    </div>
                 
                    <div class="text-white card-body border-light">
                      <h5 class="card-title border-light"><%= publication.title %></h5>
                      <hr />
                      <p class="card-text"><%= publication.description %></p>

                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header border-dark"><%= publication.tools %></div>
                      <div class="card-body">
                        <p class="card-text font-monospace text-dark"><%= publication.code %></p>
                      </div>
                    </div> 
                   
                    </div>
                    <div class="card-footer text-muted border-light">
                       <%= link_to distance_of_time_in_words(Time.now, publication.created_at), publication, class:" text-succes ml-auto mr-2"%>
                    </div>

                  </div> 
                  <hr class="my-4" />
                        <% end %>                                
    


